* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}
.container {
  max-width: 300px;
  margin: 60px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 60px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
  color: rgb(255, 94, 0);
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 10px 0px;
}

.form-control label {
  display: block;
  flex: 3;
}
.form-control h4 {
  padding-bottom: 10px;
}

.form-control input {
  width: 90%;
  height: 40px;
  margin: 5px;
  padding: 3px 3px;
  font-size: 17px;
}

.prayer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.dua-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.total {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
}

.counter-class {
  display: flex;
  justify-content: space-around;
 
  }

.btn-block {
  display: block;
  width: 100%;
  background: rgb(85, 9, 38);
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}
.btn-block:hover {
  background-color: rgb(20, 71, 16);
}

.btn {
  color: #ffff;
  background-color: rgb(46, 110, 248);
  font-size: 17px;
  font-weight: 500;
  display: block;
  padding: 7px;
  cursor: pointer;
  border-width: 0;
  border-radius: 4px;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: rgb(0, 195, 255);
  border-radius: 6px;
}
.resetBtn {
  color: #ffff;
  background-color: rgb(46, 110, 248);
  font-size: 17px;
  font-weight: 500;
  display: block;
  padding: 7px;
  width: 50%;
  cursor: pointer;
  border-width: 0;
  border-radius: 4px;
  margin-bottom: 10px;
}
.resetBtn:hover {
  background-color: rgb(0, 195, 255);
  border-radius: 6px;
}
